*{
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	background: transparent;
}
body{
	background-color: #fff;
	/*font-family: "宋体";*/
}
div{
	/*border: 1px solid red;*/
	color: #535353;
}
a:hover {
    color: #ff6633;
}
a{
	cursor: pointer;
	color: #535353;
	text-decoration: none;
}
ol, ul {
    list-style: none;
}
/*文本限制单行，超出省略号*/
.textLimit{
     width: 100%;
     white-space: nowrap;
     overflow: hidden;
     text-overflow: ellipsis;
}
.grey{
	color: #dadada;
}
#red{
	color: #a71e32;
}

#block{
	display: block;
}
.title{
    line-height: 38px;
    font: 20px "微软雅黑";
    line-height: normal;
    color: #000;
}
/*清除浮动*/
.clear-float::after{
	content: "";
	display: block;
	clear: both;
	visibility: hidden;
}
.none{
	visibility: hidden;
}

/*页面样式*/
.whole{
	margin-left: 18%;
	margin-right: 18%; 
	background: #fff;
}
.top{
	height: 34px;
	line-height: 34px;
	font-size: 12px;
}
.top-left{
	float: left;
}
.top-left a{
	text-decoration: none;
	margin-left: 1.5em;
}
.top-right{
	float: right;
}
.top-right span{
	padding-left: 21px; 
	padding-right: 21px;
	padding: 10px 20px;
	/*background: url("../images/earth.png") no-repeat 0 10px;
	background-size: 13px 13px;*/
}
.top-right1{
	background: url("../images/earth.png") no-repeat 0 10px;
	background-size: 15px 13px;	
}
.top-right2{
	background: url("../images/position.png") no-repeat 0 10px;
	background-size: 15px 13px;	
}
.top-right span a{
	text-decoration: none;	
}

.header{
	height: 153px;
	border: 1px solid #dadada;
	background: #fff;
	border-radius: 5px;
	box-shadow: 0 2px 6px #eeeeee;
}
.header-content{
	height: 93px;
	margin-left: 18px;
	margin-right: 18px;
	/*background: cyan;*/
	border-bottom: 3px solid #a71e32;
}
.header-content img{
	margin-top: 23px;
	padding-bottom: 19px;
	display: inline;
}
.header-content>div{
	/*border-bottom: 1px solid red;*/
	height: 29px;
	width: 580px;
	margin-top: 46px;
	margin-right: 15px;
	padding-left: 26px;
	float: right;
	font-size: 15px;
	line-height: 29px;	
}
.phone{
	background: url("../images/boc2013_top_icon.png") no-repeat;
	background-position: 0 4px;
	padding-left: 26px;
	float: left;
}
.search{
	float: right;
	border: 1px solid #dadada;
	border-radius: 3px;
}
.search-text{
	width: 186px;
	height: 27px;
	border: none;
	float: left;
}
.search-button{
	width: 28px;
	height: 27px;
	float: right;
	background: url("../images/boc2013_search1.png") no-repeat center;
	border: 0;
	cursor: pointer;
}
.header-content div span{
	color: #a71e32;
	padding-right: 18px;
}
.header-nav{
	height: 58px;
}
.nav{
	width: 12.5%;
	float: left;
	list-style: none;
	line-height: 58px;
	text-align: center;
	font-size: 16px;
	cursor: pointer;
}
.nav-selected{
	color: #a71e32;
}
.nav-unselected{
	color: #000;
}

/*隐藏导航*/
.sub-area{
	/*display: none;*/
	padding: 20px;
	line-height: 32px;
	font-size: 14px;
	color: #535353;
	visibility: hidden;
	position: absolute;
	left: 273px;
	top: 190px;
	width: 932px;
	height: 130px;
	background: #f2f2f2;
	border: 1px solid #dadada;
	border-width: 1px 1px 1px 1px;
	border-radius: 0 0 5px 5px;
	z-index: 13;
	box-shadow: inset 1px 0px 6px #eeeeee;
}
.sub-nav-ul,.sub-nav-img{
	float: left;
	height: 130px;
	width: 21%;
	padding-left: 30px;
	list-style: none;
}
.sub-nav-ul li{
	line-height: 32px;
	padding-left: 16px;
	background: url("../images/point.png") no-repeat 0 15px;
}
.sub-nav-img li{
	/*padding-left: 20px;*/
	line-height: 32px;
	background: url("../images/blank.png") no-repeat 0 15px;
}

#sub1:hover~.sub-area{
	visibility: visible;
}
.cramb{
	width: 940px;
	height: 26px;
    line-height: 26px;
	padding: 2px 20px 0 20px;
}
.cramb span{
    color: #cccccc;
    font-size: 12px;

}
.cramb a{
	font-size: 12px;
}
.main{
}
.slide{
	float: right;
	width: 24.6%;
}
.content{
	float: left;
	width: 73.3%;
	margin-right: 2%;
}
.footer{
	height: 26px;
	padding: 74px 0px 0 20px;
	font-size: 12px;
	color: #535353;
}
.footer-phone{
	width: 934px;
	height: 29px;
	padding-left: 26px;
	/*border-bottom: 2px solid #999999;*/
	background: url("../images/QQ截图20190625193020.png") no-repeat 5px 0;
	background-size: 20px,20px;
}
.footer-phone em{
    font-weight: 700;
    font-size: 12px;
    font-style: normal;
}
.footer-phone span{
	color: #a71e32;
	font-size: 12px;
}
.copy{
	width: 940px;
	height: 44px;
	border-top: 2px solid #999999;
	padding: 14px 20px 43px 20px;
}
.copyarea{
	background: url(../images/boc2013_ft_logo.png) no-repeat right 8px;
	color: #535353;
	margin-right: 7px;
	font-size: 12px;
	height: 44px;
}
.copy p{
	font-size: 12px;
	height: 22px;
}
.copy a{
	color: #535353;
	font-size: 12px;
	text-decoration: none;
}
.copy i{
	margin: 0 8px;
	font-size: 12px;
	font-style: normal;
	color: #535353;
}
.copy i{
	color: #535353;
	font-size: 12px;
	text-decoration: none;
}
.loop>img{
	width: 99.7%;
}
.hot-new{
	overflow: hidden;
}
.hot-new ul li{
	font-size: 12px;
	float: left;
	padding: 10px 10px 15px 20px;
}
.dot ul li{
    list-style: none;
    width: 9px;
    height: 9px;
    border-radius: 100%;
    background-color: #fff;
    float: left;
    margin: 7px 9px;
}
.hidden{
	visibility: hidden;
	position: absolute;
	left: 273px;
	top: 217px;
	width: 716px;
	height: 201px;
}
.loop-img{
	z-index: 1;
}
.dot1:hover~.img1,.img1:hover{
	visibility: visible;
	z-index: 10;
	background-color: #cd0b2d;
}
.dot2:hover~.img2,.img2:hover{
	visibility: visible;
	z-index: 10;
	background-color: #cd0b2d;
}
.dot3:hover~.img3,.img3:hover{
	visibility: visible;
	z-index: 10;
	background-color: #cd0b2d;
}
.dot4:hover~.img4,.img4:hover{
	visibility: visible;
	z-index: 10;
	background-color: #cd0b2d;
}
.dot5:hover~.img5,.img5:hover{
	visibility: visible;
	z-index: 10;
	background-color: #cd0b2d;
}

.dot1{
    position: absolute;
    top: 385px;
    left: 860px;
    z-index: 15;
}
.dot2{
    position: absolute;
    top: 385px;
    left: 880px;
    z-index: 15;
}
.dot3{
    position: absolute;
    top: 385px;
    left: 900px;
    z-index: 15;
}
.dot4{
    position: absolute;
    top: 385px;
    left: 920px;
    z-index: 15;
}
.dot5{
    position: absolute;
    top: 385px;
    left: 940px;
    z-index: 15;
}
.loop>img{
	width: 99.7%;
}
.loop{
	border: 1px solid #dadada;
	border-radius: 4px;
	width: 99.7%;
	/*height: 246px;*/
	overflow: hidden;
}
.box {
    border: 1px solid #dadada;
    padding: 7px 19px 23px 19px;
    margin-bottom: 12px;
    border-radius: 5px;
}
.box h3 {
    font: 20px "微软雅黑";
	line-height: normal;
    line-height: 43px;
    text-align: left;
    color: #000;
}
.box li {
    margin: 10px 0;
    font-size: 12px;
    line-height: 35px;
    padding-left: 20px;
    color: #000;
    background: url("../images/boc2013_slider.png") no-repeat;
    font-family: "微软雅黑";
}
.attend-us{
	padding-left: 33px;
	margin-bottom: 12px;
	background: url(../images/boc2013_slider.png) no-repeat;
	background-position: 0 -70px;
}
.attend-us span{
	line-height: 58px;
}
.attend-us a.sina{
	display: inline-block;
	width: 30px;
	height: 25px;
	position: relative;
	left: 17px;
	top: 7px;
}
.attend-us a.wx{
	display: inline-block;
	width: 30px;
	height: 25px;
	position: relative;
	left: 37px;
	top: 7px;
}
.box1{
    display: block;
    border: 1px solid #dadada;
    margin-bottom: 12px;
    border-radius: 5px;
    background: url("../images/boc2013_slider.png") no-repeat;
    background-position: -1px -520px;
    height: 76px;
}
.box2{
	border: 1px solid #dadada;
	border-radius: 5px;
	padding: 7px 19px 23px;
	margin-bottom: 12px;
}
.box2 ul li{
	padding: 10px 0 10px 10px;
	border-bottom: 1px solid #dadada;
}
.box2 ul li a{
	display: block;
	line-height: 54px;
	height: 54px;
	overflow: hidden;
}
.box2 ul li span{
	font-size: 12px;
}
.box2 ul li img{
    float: right;
}
.atm-info{
	padding-left: 69px;
	background: url("../images/boc2013_slider.png") no-repeat;
	background-position: 0 -128px;
}
.atm-info a{
	font-family: "微软雅黑";
	font-size: 14px;
	line-height: 58px;
}
.box3{
	border: 1px solid #dadada;
	border-radius: 5px;
	padding: 7px 19px 23px;
	margin-bottom: 12px;
}
.box3 h3{
	font: 20px "微软雅黑";
	color: #000;
	line-height: 43px;
}
.box3 ul li{
	padding-left: 14px;
	float: left;
	font-size: 12px;
	width: 85px;
	line-height: 26px;
	background: url("../images/point.png") no-repeat 0 13px; 
}
.box4{
	border: 1px solid #dadada;
	border-radius: 5px;
	margin-bottom: 12px;
	overflow: hidden;
}
.box5{
    border: 1px solid #dadada;
    padding: 7px 19px 23px 19px;
    margin-bottom: 12px;
    border-radius: 5px;
}
.box5 h3{
    display: block;
    line-height: 43px;
}
.box5 h3 a{
    font: 20px "微软雅黑";
    color: #000;
}
.box5 li{
    padding-left: 15px;
    line-height: 26px;
    background: url("../images/point.png") no-repeat 0 13px;
    font-size: 12px;
}

.area-box{
	padding: 40px 0 35px 20px;
	background: url(../images/boc2013_b_bg.jpg) no-repeat 0 bottom;
}
.notice1{
	border-right: 1px solid #dadada;
	float: left;
	width: 48%;
}
.notice1 h2{
	height: 38px;
}
.notice1 h2 a{
	color: #000;
	font: 20px "微软雅黑";
}
.notice1 li{
	padding-left: 14px;
	font-size: 12px;
	line-height: 26px;
	background: url("../images/point.png") no-repeat 0 13px; 
}
.notice1p{
	text-align: right;
	margin-top: 24px;
	padding-right: 30px;
	font-size: 12px;
	background: url("../images/arrow-yel.png") no-repeat 303px 4px;
	background-size: 12px 10px; 
}
.notice1p a{
	color: #d28f1e;
}
.move-right{
	margin-left: 20px;
	border: 0;
}

.bank-tab{
	margin-top: 20px;
	background: url(../images/boc2013_b_bg.jpg) no-repeat 0 bottom;
}
.bank-tab-title{
	padding: 10px 0 12px 20px;
	font: 20px "微软雅黑";
	color: #000;
	border-bottom: 1px solid #dadada;
}
.tab-content{
	padding: 26px 20px 30px 20px;
}
.dot1:hover,.dot2:hover,.dot3:hover,.dot4:hover,.dot5:hover{
	background-color: #cd0b2d;
}